<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle 
      Name="$(var.NuGetPackage_Summary)" 
      Version="$(var.NuGetPackage_Version)"
      Manufacturer="$(var.NuGetPackage_Authors)" 
      UpgradeCode="c99da653-84c8-4c03-bc0e-716cc966b50c">

    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      <Payload Name="BootstrapperCore.config" SourceFile="$(var.ToolsDir)\Shimmer.WiXUI.config" />
      <Payload SourceFile="$(var.ToolsDir)\NuGet.Core.dll" />
      <Payload SourceFile="$(var.ToolsDir)\Ionic.Zip.dll" />
      <Payload SourceFile="$(var.ToolsDir)\MarkdownSharp.dll" />
      <Payload SourceFile="$(var.ToolsDir)\ReactiveUI.Blend.dll" />
      <Payload SourceFile="$(var.ToolsDir)\ReactiveUI.dll" />
      <Payload SourceFile="$(var.ToolsDir)\ReactiveUI.Routing.dll" />
      <Payload SourceFile="$(var.ToolsDir)\ReactiveUI.Xaml.dll" />
      <Payload SourceFile="$(var.ToolsDir)\SharpBITS.Base.dll" />
      <Payload SourceFile="$(var.ToolsDir)\Shimmer.Client.dll" />
      <Payload SourceFile="$(var.ToolsDir)\Shimmer.Core.dll" />
      <Payload SourceFile="$(var.ToolsDir)\Shimmer.WiXUi.dll" />
      <Payload SourceFile="$(var.ToolsDir)\Shimmer.WiXUiClient.dll" />
      <Payload SourceFile="$(var.ToolsDir)\System.IO.Abstractions.dll" />
      <Payload SourceFile="$(var.ToolsDir)\System.Reactive.Core.dll" />
      <Payload SourceFile="$(var.ToolsDir)\System.Reactive.Interfaces.dll" />
      <Payload SourceFile="$(var.ToolsDir)\System.Reactive.Linq.dll" />
      <Payload SourceFile="$(var.ToolsDir)\System.Reactive.PlatformServices.dll" />
      <Payload SourceFile="$(var.ToolsDir)\System.Reactive.Windows.Threading.dll" />
      <Payload SourceFile="$(var.ToolsDir)\System.Threading.Tasks.dll" />
      <Payload SourceFile="$(var.ToolsDir)\System.Windows.Interactivity.dll" />

      <!-- TODO:
      <Payload SourceFile="$(var.CustomUiDll)" />
      -->

      <Payload SourceFile="$(var.NuGetFullPackage)" />
      <Payload SourceFile="$(var.ReleasesFile)" />
    </BootstrapperApplicationRef>

    <Chain>
      <PackageGroupRef Id="NetFx40Web"/>
      <PackageGroupRef Id="KB2468871"/>
      <MsiPackage SourceFile="$(var.ToolsDir)\DummyInstaller.msi"
                  Id="UserApplicationId"
                  Cache="yes"
                  Visible="no" />
    </Chain>
  </Bundle>

  <Fragment>

    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\Updates\Microsoft .NET Framework 4 Extended\KB2468871\" Value="ThisVersionInstalled" Variable="KB2468871x86" />
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\wow6432node\Microsoft\Updates\Microsoft .NET Framework 4 Extended\KB2468871\" Value="ThisVersionInstalled" Variable="KB2468871x64" Win64="yes" />

    <PackageGroup Id="KB2468871">
        <ExePackage Id="KB2468871Installerx86"
                    Cache="no"
                    Compressed="no"
                    PerMachine="yes"
                    Permanent="yes"
                    Vital="yes"
                    Name="NDP-KB2468871-v2-x86.exe"
                    DownloadUrl="http://download.microsoft.com/download/2/B/F/2BF4D7D1-E781-4EE0-9E4F-FDD44A2F8934/NDP40-KB2468871-v2-x86.exe"
                    DetectCondition="KB2468871x86 AND (NOT VersionNT64 OR KB2468871x64)">
          <RemotePayload CertificatePublicKey="5C499B10F7EF186DC729991A262AB52066423909"
                         CertificateThumbprint="93859EBF98AFDEB488CCFA263899640E81BC49F1"
                         Description="Microsoft .NET Framework 4.0 Setup"
                         Hash="8CB1F5EB7EDA5329E69629DFF3FD3757BF980717"
                         ProductName="Microsoft .NET Framework 4.0"
                         Size="19556328"
                         Version="10.0.30319.233" />
      </ExePackage>
      <ExePackage Id="KB2468871Installerx64"
                  Cache="no"
                  Compressed="no"
                  PerMachine="yes"
                  Permanent="yes"
                  Vital="yes"
                  Name="NDP-KB2468871-v2-x64.exe"
                  DownloadUrl="http://download.microsoft.com/download/2/B/F/2BF4D7D1-E781-4EE0-9E4F-FDD44A2F8934/NDP40-KB2468871-v2-x64.exe "
                  DetectCondition="VersionNT64 AND KB2468871x64">
        <RemotePayload CertificatePublicKey="5C499B10F7EF186DC729991A262AB52066423909"
                       CertificateThumbprint="93859EBF98AFDEB488CCFA263899640E81BC49F1"
                       Description="Microsoft .NET Framework 4.0 Setup"
                       Hash="51840E466684608D431B728916CB8BC6EFC1A552"
                       ProductName="Microsoft .NET Framework 4.0"
                       Size="28640160"
                       Version="10.0.30319.233" />
      </ExePackage>
    </PackageGroup>
  </Fragment>
</Wix>
