<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ix_Experimental-Main" version="1.1.10823" targetFramework="net40" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.0.11-beta" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.12-beta" targetFramework="net40" />
  <package id="reactiveui-core" version="4.3.0" targetFramework="net40" />
  <package id="reactiveui-xaml" version="4.3.0" targetFramework="net40" />
  <package id="Rx-Core" version="2.0.21114" targetFramework="net40" />
  <package id="Rx-Interfaces" version="2.0.21114" targetFramework="net40" />
  <package id="Rx-Linq" version="2.0.21114" targetFramework="net40" />
  <package id="Rx-Main" version="2.0.21114" targetFramework="net40" />
  <package id="Rx-PlatformServices" version="2.0.21114" targetFramework="net40" />
  <package id="Rx-Xaml" version="2.0.21114" targetFramework="net40" />
  <package id="System.IO.Abstractions" version="1.4.0.40" targetFramework="net40" />
</packages>