<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ix_Experimental-Main" version="1.1.10823" targetFramework="net40" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net40" />
  <package id="Mono.Options" version="1.0" targetFramework="net40" />
  <package id="Nuget.Core" version="2.2.0" targetFramework="net40" />
  <package id="reactiveui-core" version="4.5.0" targetFramework="net40" />
  <package id="Rx-Core" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-Interfaces" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-Linq" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-Main" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-PlatformServices" version="2.1.30214.0" targetFramework="net40" />
</packages>